.footer
  .footer__col
    h5 Copyright
    p &copy; 2022 RatsDAO.
  .footer__col
    h5 Quick Links
  .footer__col
    h5 Policy ID
    p(style="word-break:break-all") ca5fc915496a771109b98c4a2b76e32c21a8229f3332398cb8babcd7