extends layout

block content
  .header
    include includes/header.pug

  .section
    h1.section__header Frequently Asked Questions

    .section__text
      h2 Which wallet should I use for minting?
      p You can send ADA from an address created by Nami, YOROI or Daedalus.

    .section__text
      h2 Can I send ADA from an exchange like Binance or Coinbase?
      p No. You have to use a non custodial wallet.

    .section__text
      h2 How much can I mint?
      p Up to one NFT per transaction.

    .section__text
      h2 How do I vote?
      p You should register in our Discord and find out!