extends layout

block content
  include includes/header.pug
  .spacer

  .section
    h1.section__header Gallery

    .cards
      each nft in gallery
        .card
          img(src="/img/nft/" + nft.id + ".png")
          h3= nft.name