extends layout

block content
  include includes/header.pug

  .hero
    .hero-cover
    .background__wrapper
      .background
        - var rows = 8
        - var count = 15
        - var current = 0
        while rows >= 0
          - var n = 0
          .main
            div
            while n < count
              .box
                if (gallery)
                  img(src="/img/nft/" + gallery[current].id + ".s.png")
              - current++
              - n++
            - current -= count
            while n < count*2
              .box
                if (gallery)
                  img(src="/img/nft/" + gallery[current].id + ".s.png")
              - current++
              - n++
          - rows--
    .hero__content
      h1(data-aos="fade-in" data-aos-duration="800") RatsDAO
      h3(data-aos="fade-in" data-aos-delay="600" data-aos-duration="800") Cardano's First DAO

    a(href="#info" data-aos="fade-in" data-aos-delay="3000" data-aos-duration="1000").ico-holder
      .ico.animated
        //(data-aos="fade-in" data-aos-delay="3000" data-aos-duration="1000")
        .circle.circle-top
        .circle.circle-main
        .circle.circle-bottom
        
        svg.svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve")
          defs
            clipPath#cut-off-arrow
              circle(cx="306" cy="306" r="287")
            
            filter#goo
              feGaussianBlur(in="SourceGraphic" stdDeviation="10" result="blur")
              feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo")
              feBlend(in="SourceGraphic" in2="goo")          

          path.st-arrow(d="M317.5,487.6c0.3-0.3,0.4-0.7,0.7-1.1l112.6-112.6c6.3-6.3,6.3-16.5,0-22.7c-6.3-6.3-16.5-6.3-22.7,0l-86,86V136.1c0-8.9-7.3-16.2-16.2-16.2c-8.9,0-16.2,7.3-16.2,16.2v301.1l-86-86c-6.3-6.3-16.5-6.3-22.7,0c-6.3,6.3-6.3,16.5,0,22.7l112.7,112.7c0.3,0.3,0.4,0.7,0.7,1c0.5,0.5,1.2,0.5,1.7,0.9c1.7,1.4,3.6,2.3,5.6,2.9c0.8,0.2,1.5,0.4,2.3,0.4C308.8,492.6,313.8,491.3,317.5,487.6z")

  .section#info
    .section__text
      h2 Connect
      p Get connected with our DAO to democratize access to bluechip CNFTs and accrue benefits for your time. Find us on Discord and Twitter!
  
  script.
    $(function() {
 
    var gallery = $('#gallery ul'),
      items   = gallery.find('li'),
      len     = items.length,
      current = 1,  /* the current item we're looking */
      
      first   = items.filter(':first-child'),
      second  = items.filter((index)=>index==1),
      last    = items.filter(':last-child'),
      secondlast = items.filter((index)=>index==items.length-2),
      
      triggers = $('button');
   

  
      /* 1. Cloning first and last items */
      first.before(secondlast.clone(true)); 
      first.before(last.clone(true)); 
      last.after(second.clone(true)); 
      last.after(first.clone(true)); 
      
      /* 2. Set button handlers */
      triggers.on('click', function() {
        
        if (gallery.is(':not(:animated)')) {
        
            var cycle = false,
                delta = (this.id === "prev")? -1 : 1;
                /* in the example buttons have id "prev" or "next" */  
        
            gallery.animate({ left: "+=" + (-100 * delta) }, function() {
          
                current += delta;
          
                /** 
                * we're cycling the slider when the the value of "current" 
                * variable (after increment/decrement) is 0 or when it exceeds
                * the initial gallery length
                */          
                cycle = !!(current === 0 || current > len);
          
                if (cycle) {
                    /* we switched from image 1 to 4-cloned or 
                      from image 4 to 1-cloned */
                    current = (current === 0)? len : 1; 
                    gallery.css({left:  -100 * (current + 1) });
                }
            });   
        }
        
      });
    });