extends layout

block content
  include includes/header.pug
  .spacer

  .section
    .section__info
      a.back(href="/gallery/" + nft.projectsId + "/" + backLink) &#8617; Back

    .section__info
      img(src="/img/nft/" + nft.id alt="")

      .text
        div
          #timeout.banner(style="display: none")
          h1
            em= nft.name
          .tags
            each tag in nft.tags
              .tag= tag
          a(href=nft.url target="_blank" rel="noopener noreferrer") View on IPFS
