extends layout

block content
  include includes/header.pug
  .spacer

  .section
    .section__info
      a.back(href="/gallery/" + backLink) &#8617; Back

    .section__info
      img(src="/img/nft/" + nft.id + ".png")

      .text
        div
          #timeout.banner(style="display: none")
          h1
            em= nft.name
          .tags
            for tag in nft.tags
              div.tag= tag