extends layout

block content
  .header
    include includes/header.pug

  .section
    h1.section__header Press

    .section__text
      h2 Hello World
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus aliquid expedita, sed qui harum veniam fugit est debitis ratione esse!

    .section__text
      h2 Hello World
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus aliquid expedita, sed qui harum veniam fugit est debitis ratione esse!

    .section__text
      h2 Hello World
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus aliquid expedita, sed qui harum veniam fugit est debitis ratione esse!