extends layout

block content
  .header
    include includes/header.pug

  .section
    h1.section__header Press

    .accordion
      .accordion__element
        label(for="one").accordionitem
          h5 Explain how the idea for Rats DAO started and please introduce the team behind the project.
        input(type="checkbox")#one
        p.hiddentext Rats DAO is a project that was created within the “Bitcoin para todos” community. “Bitcoin para todos” is an educational podcast for Spanish speakers that talks about everything and anything related to cryptocurrency. The podcast has successfully grown into a strong online community. Agustin Franchella y Diego Torres started the project and were then able to recruit Rodrigo Molina (creator of CardaWorlds) and Martin Mugnolo, a prestigious artist.

      .accordion__element
        label(for="two").accordionitem
          h5 For those who don't know or who are new to the space can you explain what a DAO is and how it works?
        input(type="checkbox")#two
        p.hiddentext It's a way to connect like minded individuals from around the world and organize a pool of capital, without directly knowing each other in order to achieve a common goal.
          br
          br 
          | A DAO (Decentralized Autonomous Organization) can be defined as an organization represented by rules encoded as a transparent computer program, controlled by the organization members, and not influenced by a central government. As DAOs are still WIP tools, the formal definition is not necessary to apply in reality in every case. Actually, most DAOs, even in Ethereum where they are most developed, don’t have most rules encoded in a smart contract. So some trust is still needed.

      .accordion__element
        label(for="three").accordionitem
          h5 How do holders receive profit from participating in the DAO?
        input(type="checkbox")#three
        p.hiddentext For example, let's say the DAO decides to purchase Clay Nation #0001 for 2000 ADA (via DAO voting system). After 6 months of the DAO holding Clay Nation #0001, the DAO decides to sell the asset. Clay Nation #0001 has increased in value and is sold for 10,000 ADA. The DAO has collected a gross profit of 8000 ADA. As the sale transaction completes, what happens to the ADA collected?
          br
          br
          | In a situation like this, the DAO has complete control and ultimately decides what to do with the ADA. Some examples of what the DAO could decide to do includes; profit distribution, pool staking, treasury saving, etc. (At any percentage mix)

      .accordion__element
        label(for="four").accordionitem
          h5 “The Cheese Phase”,the mint of the first 1000 Genesis tokens has been completed. What benefits does holding a Genesis token offer? Will governance tokens be offered the same benefits?
        input(type="checkbox")#four
        p.hiddentext The main benefit is an airdrop of $RAT. $RAT is the fungible token that is going to represent voting power and revenue commission rights over the sale of DAO assets. Besides that, Genesis token holders will have early access to further mintings. Governance tokens will not receive these benefits.

      .accordion__element
        label(for="five").accordionitem
          h5 In the whitepaper, it mentions that the $RAT token will be launched. Can you explain the purpose and usage for this token?
        input(type="checkbox")#five
        p.hiddentext Currently, we believe that $RAT has the opportunity in offering a better and fairer representation of a member’s voting and revenue commission rights.But for a strategic and a meaningful launch we decided to mint CNFTs as a bridge to final governance. By staking Genesis tokens and or governance tokens, $RAT will be distributed as a staking reward.

      .accordion__element
        label(for="six").accordionitem
          h5 In terms of the technical backend side of things for the Rats DAO project, does the DAO currently function on a set of smart contracts? If so, are these smart contracts complete and ready to launch?
        input(type="checkbox")#six
        p.hiddentext We are currently in discussion with and plan to collaborate with a few members of the ADAO team to implement a set of smart contracts. Smart contracts will manage the DAO treasury via vote, offer NFT staking, and other DAO utility functions.

      .accordion__element
        label(for="seven").accordionitem
          h5 How does the treasury work and how is the wallet(s) accessed once the DAO is launched?
        input(type="checkbox")#seven
        p.hiddentext We are currently using regular noncustodial wallets. The team has given this current situation the #1 priority and hopes to turnover the complete ownership of the wallet as soon as possible. We are currently considering adopting a multisig wallet that is completely 100% managed by smart contracts.

      .accordion__element
        label(for="eight").accordionitem
          h5 At some stage of the project's development,the complete ownership and governance of the Rats DAO project will be handed over to the Rats DAO members. Although this is further along the line, how does this make you feel?
        input(type="checkbox")#eight
        p.hiddentext It is both an exciting and nervous feeling! To be able to say that our team developed and helped build the first CNFT purchasing DAO in the Cardano ecosystem is a dream! A “mission complete” if you may.

      .accordion__element
        label(for="nine").accordionitem
          h5 What CNFTs have already been purchased by the Rats DAO?
        input(type="checkbox")#nine
        div.hiddentext
          p Currently the Rats DAO is in ownership and in support of three Cardano NFT projects:
          br
          ol
            li SpaceBudz
            ol
              li SpaceBudz #1342
              li SpaceBudz #3760
              li SpaceBudz #9137
            li Clay Nation
            ol
              li Clay Nation #0651
            li DEADPXLZ
            ol
              li PXL#5209
          | We plan and hope to showcase our value and support to many other CNFT projects soon!