extends layout

block content
  include includes/header.pug
  .section
    .spacer
    h1.section__header Collections

    .cards
      each project in projects
        a.card.card__project(href="/gallery/" + project.id)
          .project__images
            .project__image
              if project.nfts[0]
                img(src="/img/nft/small_" + project.nfts[0].id alt="")
            .project__image
              if project.nfts[1]
                img(src="/img/nft/small_" + project.nfts[1].id alt="")
            .project__image
              if project.nfts[2]
                img(src="/img/nft/small_" + project.nfts[2].id alt="")
          div
            h3= project.name
              |
              | Collection
            p View All (
              = project.nfts.length
              | )
