extends layout

block content
  .header
    include includes/header.pug

  .section
    h1.section__header Whitepaper
    
    .section__text
      h2 Mission
      p Democratize the access to bluechip CNFTs by joining forces and capital for acquisition and then employ financial innovation that allow us to accrue rewards for the benefit of DAO members.

    .section__text
      h2 Project
      p Rats DAO is the first decentralized autonomous organization on the Cardano Blockchain that purchases and fractionalizes “blue chip” CNFTs.
      p.vr As a DAO one of our goals is to eliminate the price barrier of entry and offer the CNFT community the opportunity to participate in and own projects like SpaceBudz, Clay Mates, DEADPXLZ, and many more.
      p.vr Through a collective collaboration between members of the DAO and the team, the DAO will have the opportunity to capture value and support talented projects.
      p.vr While the aim of the Rats DAO will be to purchase blue chip CNFTs, our roadmap is set out to achieve far beyond this. In our vision, we foresee an integration between DeFi and the Metaverse.

    .section__text
      h2 The Cheese Phase
      p There will be a total of 10,000 Rats DAO Governance CNFTs. Please note, that this is not a regular CNFT minting process.The mint model uses a DAO minting process. Governance CNFTs will be minted in stages with the following Policy ID ca5fc915496a771109b98c4a2b76e32c21a8229f3332398cb8babcd7.

    .section__text
      h2 Phases

      h4.subheader Fundational Stage
      ul
        li Genesis token Minting: Upto 1,000 Genesis Tokens
        li Purchases the first Bluechip CNFT
      
      h4.subheader Membership Stage
      ul
        li General Minting: up to 9.000 Tokens
        li Additional purchases of Bluechip CNFT
        li DAO members will discuss the RoadMap: some ideas on the table:
        ul
          li Minting Profile Picture Collection: Cute Rats / Suspicious Rats / Clever Rats / Rebel you have Rats. Inception Holders will have 1 to 1 mint with priority.- Minting fungible token: $RAT
        li 
          b Emission:
          | 
          | 100.000.000
        ul
          li 5% Airdrop to Genesis Holders
          li 5% Airdrop to Member holders
          li 5% Airdrop Dev team
          li 20% DAO Treasury
          li 45% Staking NFT Rewards
          li 10% Grants to the community
          li 10% SC Develop
        li Implement Staking Smart Contract: Earn $RAT
        li Implement Bonding Curve to swap $RAT for ADA
        li Implementing a CNFT Smart Contract Fractionalizer

    .section__text
      h2 Minting Distribution

      h4.subheader Minting income
      ul
        li 25% will go the devs
        li 75% will go to RatsDAO treasury
      
      
      h4.subheader Revenue from secondary markets
      ul
        li 3% will go to devs.
        li 7% will go to RatsDAO Treasury.