extends ../layout

block content
  .section
    h1
      | Error 
      = status

    p
      | Uh-oh! You ran into an error. Need to go back 
      a(href="/") home
      | ?
    if error
      p.tip
        | Error: 
        = error